@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Top Banner Starts */


/*  Header Area Starts  */


header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
    padding: 40px 100px;
    z-index: 100000;
}
header.sticky
{
    padding: 15px 100px ;
    background: #E1DAD3;
}


header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a
{
   padding-top: 20px; 
   position: relative;
   text-decoration: none;
   color: #fff;
   font-weight: 500px;
   transition: 0.2s;
   margin-right: 40px;
}

header.sticky ul li a
{
    padding-top: 20px;
    color: #fff;
}



.fa-chevron-down{
    font-size: 12px;
   }


/*  Header Area Ends  */


.button1{
    border: 5px 5px 5px 5px;
    margin-left: 100px;
    border-radius: 10px;
    color: #fff;
    border-color: #fff;
    background-color: transparent;
    padding: 5px 5px 5px 5px;
}

.button1:hover{
    border-color: red;
    background-color: lightgreen;
    color: red;
}

.topFixedbanner {
    background-image: url(../images/3.jpg);
    min-width: 1000px;
    min-height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.topFixedOverly {
    position: absolute;
    width: 100%;
	height: 600px;
    background-color: rgba(225, 218, 211, 0.5);
}



/* Top Banner Ends */



/* Footer Starts */



.footer{
    margin-top: 50px;
    background-image: ;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;

}

.footerx{
    width: 100%;
    min-height: 300px;
    background-color: #E1DAD3;
    
}



/* Footer Ends */
